html, body { max-height: 100vh; max-width: 100vw; font-family: 'Open Sans', sans-serif;}
.wrapper { font-size: 14px; }
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  height: 40px;
  padding: 8px;
  border-bottom: 1px solid black;
  background-color: tomato;
}
nav h1 { margin: 0; float: left; }
nav .userCount { float: right; }
#message-list { clear: both; padding: 40px 10px; margin: 25px 15px }
#message-list .message { padding: 4px 0;  display: flex;}
#message-list .message .username,#message-list .message .content {
  display: inline-block; padding: 4px 0;
}
#message-list .message .username { flex: 15; margin-right: 16px; overflow: hidden; font-weight: 700;}
#message-list .message .content { flex: 85; }
#message-list .message.system { font-weight: 400; font-style: italic; }
.message-image { max-width: 60%; }
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  background-color: tomato;
  display: flex; align-items: center;
}
footer input {
  border: 1px solid black;
  margin: 4px;
  height: 20px;
  padding: 4px 8px;
}
footer #username { flex: 3; }
footer #new-message { flex: 7; }
